
{{#each projects as |project| }}
<div class="container">
  <div class="row">
    <div class="col">

        <h2 class="project">
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        
        <a href="/project/{{project.id}}">{{project.name}}</a>
      </h2>

      <!--Do you want to do people needed or skills needed? -->
      <p class="peopleneeded">
      <span class="people-amount">{{format_amount project.needed_funding}}</span>
       people needed!
      </p>

      <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>

      <p>
      {{project.description}}
    </p>

    </div>
  </div>
</div>
{{/each}}