<div>
 <div>
    <h2>
        <a herf ="/project/{{project.id}}">{{project.name}}</a>
    </h2>
         <p>
             <span class="people-amount">{{}}</span>
                People Needed!
         </p>
         <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
 </div>

 <div>
     <p>
         {{Project.description}}
     </p>
 </div>
</div>

{{/each}}