<div class="homeSpace">

{{#each projects as |project|}}
  <div class="container box"> <!--box is showing the breakdown-->
    <div class="row">
      <div class="col">

        <h2 class="project">
          <!-- Call helper function with triple brackets to render the emoji span as HTML -->

          <a href="/project/{{project.id}}">{{project.name}}</a>
        </h2>

        <p><strong>Owner:</strong> {{project.user.name}} </p>
        <p><strong>Description:</strong> {{description}}</p>
        <p><strong>Role(s) Needed:</strong> {{role_needed}}</p>
        <p><strong>Created:</strong> {{format_date project.date_created}}</p>

      </div>
    </div>
  </div>
{{/each}}
</div>